.paginationSelect select {
    padding-right: 1.25rem;
    min-height: inherit;
    line-height: normal;
    height: 1.4rem;    
}
.paginationSelect label {
    margin-top: .1rem;
}
.paginationSelect .slds-select_container::before {
    border-bottom: 0;
}
.paginationInput {
    width: 3rem;
    height: 1.4rem;
    text-align: center;
    border: 1px solid #dddbda;
    border-radius: 3px;
    background-color:#fff;
}